@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

.wrapperheader{
    width: 100%;
    height: 120px;
    background-color:#09CFAC;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 70px;
    
}
@media(max-width:1210px){
    .wrapperheader{
        height: 95px;
    }
}
@media(max-width:1030px){
    .wrapperheader{
        height: 75px;
    }
}
@media(max-width:836px){
    .wrapperheader{
        height: 60px;
    }
}
@media(max-width:768px){
    .wrapperheader{
        display: none;

    }
}
.block_text{
    width: 354px;
    height: 106px;
    /* border: 1px solid red; */

}
@media(max-width:1210px){
    .block_text{
        width: 320px;
        height: 80px;
    }
}
@media(max-width:1030px){
    .block_text{
        width: 250px;
        height: 65px;
    }
}
@media(max-width:836px){
    .block_text{
        width: 200px;
        height: 50px;
    }
}
.block_text h3{
    font-weight: 800;
    font-family:'swap',sans-serif;
    font-size: 34px;
    color: #FFFFFF;
    margin-bottom: 10px;
   
}
@media(max-width:1210px){
    .block_text h3{
        font-weight: 600;
        font-size: 32px;
        margin-bottom: 7px;
    }
}
@media(max-width:1030px){
    .block_text h3{
        font-weight: 500;
        font-size: 27px;
        margin-bottom: 4px;
    }
}
@media(max-width:836px){
    .block_text h3{
        font-weight: 400;
        font-size: 22px;
        margin-bottom: 2px;
    }
}
.block_text h4{
    font-weight: 400;
    font-size: 28px;
    color: #FFFFFF;
    font-family: 'swap',sans-serif;
}
@media(max-width:1210px){
    .block_text h4{
        font-weight: 350px;
        font-size: 24px;
    }
}
@media(max-width:1030px){
    .block_text h4{
        font-weight: 300px;
        font-size: 20px;
    }
}
@media(max-width:836px){
    .block_text h4{
        font-weight: 200px;
        font-size: 16px;
    }
}
.block_text_button{
    width: 320px;
height: 60px;
background-color: white;
border-radius: 15px;
border: 1px solid white;
}
@media(max-width:1210px){
    .block_text_button{
        width: 290px;
        height: 50px;
    }
}
@media(max-width:1030px){
    .block_text_button{
        width: 220px;
        height: 50px;
    }
}
@media(max-width:836px){
    .block_text_button{
        width: 200px;
        height: 40px;
    }
}
.block_text_button h5{
    font-weight: 500;
font-size: 25px;
font-family: sans-serif;
}
@media(max-width:1210px){
    .block_text_button h5{
        font-size: 22px;

    }
}
@media(max-width:1030px){
    .block_text_button h5{
        font-size: 20px;

    }
}
@media(max-width:1030px){
    .block_text_button h5{
        font-size: 17px;

    }
}
.block_burger_logo{
    display: none;
}
@media(max-width:768px){
    .block_burger_logo{
        display: block;
        margin-right: 0;
    }
}
/*//////////////////////*/
.home_content{
    width: 100%;
    height: 500px;
    background: linear-gradient(180deg, #E0FFF8 0%, #16ECC5 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
@media(max-width:1210px){
    .home_content{
        height: 450px;

    }
}
@media(max-width:1030px){
    .home_content{
        height: 400px;

    }
}
@media(max-width:836px){
    .home_content{
        height: 350px;

    }
}
@media(max-width:768px){
    .home_content{
        height: 400px;
        padding-left: 50px;
        padding-right: 50px;

    }
}
@media(max-width:490px){
    .home_content{
        height: 350px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;

    }
}

.home_cotegorie{
    margin-top: -70px;
    width: 100%;
    height: 78px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
@media(max-width:1210px){
    .home_cotegorie{
        height: 58px;
    }
}
@media(max-width:1030px){
    .home_cotegorie{
        height: 45px;
    }
}
@media(max-width:836px){
    .home_cotegorie{
        height: 35px;
    }
}
@media(max-width:490px){
    .home_cotegorie{
        height: 25px;
    }
}

.block_logo{
    width:auto;
    height: auto;
    /* background-color:yellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
@media(max-width:768px){
    .block_logo{
        margin-left:0;
    }
}

.block_logo img{
    width: 290px;
    height: 60px;
}
@media(max-width:1210px){
    .block_logo img{
        width: 240px;
        height: 50px;
    }
}
@media(max-width:1030px){
    .block_logo img{
        width: 200px;
        height: 40px;
    }
}
@media(max-width:836px){
    .block_logo img{
        width: 150px;
        height: 30px;
    }
}
@media(max-width:490px){
    .block_logo img{
        width: 100px;
        height: 20px;
    }
}

.block_way{
    width: 850px;
    height: 78px;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
@media(max-width:1210px){
    .block_way{
        width: 700px;
        height: 55px;
    }
}
@media(max-width:1030px){
    .block_way{
        width: 600px;
        height: 40px;
    }
}
@media(max-width:836px){
    .block_way{
        width: 470px;
        height: 32px;
    }
}
@media(max-width:768px){
    .block_way{
        display: none;
    }
}
.block_way h3{
    font-weight: 500;
    font-size: 25px;
    font-family: sans-serif;
}
@media(max-width:1210px){
    .block_way h3{
        font-size: 22px;
    }
}
@media(max-width:1030px){
    .block_way h3{
        font-size: 18px;
    }
}
@media(max-width:836px){
    .block_way h3{
        font-size: 14px;
    }
}
.block_way button{
    width: 270px;
height: 65px;
border-radius: 15px;
background-color: #3F74FB;
border: 1px solid #3F74FB;
}
@media(max-width:1210px){
    .block_way button{
        width: 200px;
        height: 50px;
        border-radius: 13px;
    }
}
@media(max-width:1030px){
    .block_way button{
        width: 150px;
        height: 40px;
        border-radius: 7px;
        
        
    }
}
@media(max-width:836px){
    .block_way button{
        width: 115px;
        height: 30px;
        border-radius: 5px;
        
        
    }
}
.block_way_h3{
    color: white;
    font-size: 25px;
}
@media(max-width:1210px){
    .block_way_h3{
        font-size: 20px;
    }
}
@media(max-width:1030px){
    .block_way_h3{
        font-size: 15px;
    }
}
@media(max-width:836px){
    .block_way_h3{
        font-size: 10px;
    }
}
.home_text{
    width: 700px;
    height: 200px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
@media(max-width:1210px){
    .home_text{
        width: 630px;
        height: 180px;
    }
}
@media(max-width:1030px){
    .home_text{
        width: 480px;
        height: 140px;
    }
}
@media(max-width:836px){
    .home_text{
        width: 380px;
        height: 100px;
    }
}
@media(max-width:768px){
    .home_text{
        width: auto;
    
        height: 130px;
    }
}
@media(max-width:490px){
    .home_text{
        width: auto;
        height: 200px;
    }
}
.home_text h1{
    font-weight: 500;
    font-size: 50px;
    font-family: sans-serif;
}
@media(max-width:1210px){
    .home_text h1{
        font-size: 43px;
    }
}
@media(max-width:1030px){
    .home_text h1{
        font-size: 35px;
    }
}
@media(max-width:836px){
    .home_text h1{
        font-size: 28px;
    }
}
@media(max-width:490px){
    .home_text h1{
        font-size: 20px;
    }
}
@media(max-width:294px){
    .home_text h1{
        font-size: 17px;
    }
}
@media(max-width:263px){
    .home_text h1{
        font-size: 14px;
    }
}
.home_text p{
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    color:  #1E1D2F;
    font-family: sans-serif;
}
@media(max-width:1210px){
    .home_text p{
        font-size: 23px;
        font-weight: 300;
    }
}
@media(max-width:1030px){
    .home_text p{
        font-size: 18px;
        font-weight: 200;
    }
}
@media(max-width:836px){
    .home_text p{
        font-size: 14px;
        font-weight: 100;
    }
}
@media(max-width:263px){
    .home_text p{
        font-size: 12px;
        font-weight: 100;
    }
}
.block_button_home{
    width: 100%;
    height: 30px;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    display: none;
}
@media(max-width:768px){
    .block_button_home{
        display: block;
    }
}
@media(max-width:278px){
    .block_button_home{
        height: auto;
    }
}
.block_button_home h5{
    font-size: 15px;
    font-family: 'swap',sans-serif;
}
/*////////////////////////////*/
.block_second{
    width: 100%;
    height: 450px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.block_card{
    width: 1200px;
    height: 280px;
    background-color: #3F74FB;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.card_text{
    width: 1000px;
    height: 50px;
    /* background-color:red; */
}
.card_text h2{
    font-weight: 500;
    font-size: 35px;
    font-family: sans-serif;
    color: white;
}
.card_buttons{
    width: 880px;
    margin-left: 80px;
    height: 55px;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card_buttons_button{
    width: 200px;
    height: 50px;
    background-color:white ;
}
.card_buttons button{
    width: 177px;
    height: 50px;
    border-radius: 22px;
    border: 1px solid white;

}
.block_big_card{
    width: 100%;
    height: 800px;
    background-color:  #EEF3FF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
}
.block_big_card button{
    width: 210px;
    height: 50px;
    background-color:#EEF3FF;
    border: 2px solid blue;
    border-radius: 15px;
    color:blue;
}
.in_card{
    width: 1300px;
height: 550px;
background-color:white;
border-radius: 20px;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
    
}
.block_big_card h2{
    font-weight: 500;
font-size: 35px;
font-family: sans-serif;
margin-left: -300px;
color: black;
}
.in_card_text{
    width: 700px;
    height: 500px;
    /* background-color: #09CFAC; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}
.in_card_text h3{
    font-size: 30px;
    font-weight: 500;
    font-family: sans-serif;
}
.in_card_profil{
    width: 550px;
    height: 500px;
    /* background-color: #3F74FB; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.in_card_text span{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.in_card_text h4{
    font-size: 24px;
    font-family: sans-serif;
   margin-left: 20px;
}
.card_h4_in{
    font-size: 25px;
    color:  #F27709;
    text-decoration: double;
    
}
.in_card_text p{
    font-weight: 400;
    font-size: 23px;
    color:  #1E1D2F;
    width: 600px;
}
.in_card_text_h3{
    font-weight: 600;
font-size: 45px;
font-family: sans-serif;
color: #3F74FB;
margin-left: -200px;
}
.in_card_text button{
    width: 200px;
height: 65px;
background-color: #3F74FB;
border: 1px solid #3F74FB;
border-radius: 17px;
margin-left: 20px;


}
.in_card_text_h{
    font-weight: 600;
    font-size: 20px;
    /* font-family: sans-serif; */
    color:white;
 
    
}
.div_display{
    display: flex;
    align-items: center;

}
.card_profil_person{
    width: 550px;
    height: 120px;
    /* background-color: #16ECC5; */
   
 
}
.card_name{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 70px;
    margin-left: 10px;
    margin-bottom: 10px;
    /* background-color: #8983ed; */
    

}
.card_name img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.card_name h5{
    font-size: 25px;
    font-family: sans-serif;
}
.card_name h6{
    font-size: 17px;
    font-family: sans-serif;
    color:  #1E1D2F;
}
.card_name_company{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    

}
.card_name_company img{
    width: 20px;
    height: 20px;
}
.card_name_company p{
    font-size: 15px;
}
.block_adaptivka{
    position: fixed;
    z-index: 999;
    overflow-y: scroll;
    top: 0;
    transition: 1s;
    width: 100%;
    height: 100vh;
    background-color:#EEF3FF;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
@media(max-width:560px){
    .block_adaptivka{
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media(max-width:371px){
    .block_adaptivka{
        padding-left: 30px;
        padding-right: 30px;
    }
}
.block_adaptivka_foto{
    
    width: 100%;
    height: 100px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -60px;
}
@media(max-width:370px){
    .block_adabtivka_foto{
        height: 80px;
    }
}

.block_adabtivka_text{
    width: 100%;
    height: 400px;
    background-color:#3F74FB;
    border-radius: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
@media(max-width:560px){
    .block_adabtivka_text{
        height:400px;
    }
}
.block_adabtivka_text h3{
    font-size: 25px;
    font-family: 'swap',sans-serif;
    color: white;
}
@media(max-width:370px){
    .block_adabtivka_text h3{
        font-size: 18px;
    }
}
.block_card_modalka{
    width: 100%;
    background-color:white;
     padding-left: 100px;
     padding-right: 100px;
     padding-top: 100px;
     padding-bottom: 100px;
  
 


}
.modal_cart{

    width:100%;
    height:400px;
    background-color: #09CFAC;
    border-radius: 25px;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
 
}
.modal_cart h1{
    font-family: 'swap',sans-serif;
    font-weight: 600;
font-size: 45px;
}
.modal_cart p{
    font-weight: 300;
    font-size: 35px;
    font-family: 'swap',sans-serif;
    color: #1E1D2F;
    text-align: center;

}
.modal_cart button{
    width: 392px;
    height: 78px;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
}
.modal_cart button:hover{
    background-color: #9AC5F4;
     cursor: pointer;
}
.modal_cart h3{
    font-weight: 400;
    font-size: 22px;
    font-family: 'swap',sans-serif;
    color: #1E1D2F;
}
.block_wrap_modalka{
  width: 100%;
  height: 100%;
  position: fixed;
  /* background-color:white; */
  z-index: 999;
  background-color: rgba(0,0,0,0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}
.modal{
    width: 500px;
    height: 100vh;
    background-color: #16ECC5;
    border-radius: 20px;
  
   
}
